.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  width: 180px;
}

th.sortable {
  cursor: pointer;
}

th .sort-icon {
  display: inline-block;
  height: 12px;
  font-size: 18px;
}

th .sort-icon.desc {
  transform: rotate(180deg);
}
